@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navtext {
  /* font-family: "space grotesk", sans-serif; */
  font-size:  22px;
  font-weight: 400;
}

.dantext {
  /* font-family: "space grotesk", sans-serif; */
  /* font-size:  22px;
  font-weight: 400; */
}

.gradient-text-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-justify: center;
}
.gradient-text {
  background: linear-gradient(
    160deg,
    #fef3c7 15%,
    #c2a54e 40%,
    #854d0e 70%,
    #683916 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-banfield {
  background-color: #c2a54e;
}
.text-banfield {
  color: #c2a54e;
}
